<div id="<%= dom_id address %>">
  <p>
    <strong>House number:</strong>
    <%= address.house_number %>
  </p>

  <p>
    <strong>Society name:</strong>
    <%= address.society_name %>
  </p>

  <p>
    <strong>Area:</strong>
    <%= address.area %>
  </p>

  <p>
    <strong>City:</strong>
    <%= address.city %>
  </p>

</div>
