<div class="set-center flex-column" style = "height: auto;">
  <h1> Employees </h1>

  <div class="d-flex mt-2">
    <%= search_form_for @q do |f| %>
<!-- 
      <%= f.label :employee_name_cont %>
      <%= f.search_field :employee_name_cont %> -->

      <%= f.label :created_at_gt, 'Ngày bắt đầu:' %>
      <%= f.date_field :created_at_gt %>
      <div> </div>
      <%= f.label :created_at_lt, 'Ngày kết thúc:' %>
      <%= f.date_field :created_at_lt %>
       <div> </div>
      <%= f.submit "Search" %>

    <% end %>

  </div>

  <!--Error Message-->
  <% if flash[:errors] %>
    <% flash.each do |name,message| %>
      <p class="text-danger"><%= message%></p>
    <% end %>
  <% end %>
  <!-- Employee Table -->
  <div>
    <table class="table table-info table-striped">
      <ol class="fs-2">
        <thead class="table-secondary">
          <td class="text-center"><%= sort_link(@q, :id, 'Id') %></td>
          <td class="text-center"><%= sort_link(@q, :employee_name, 'Name') %></td>
          <td class="text-center"><%= sort_link(@q, :hobbies, 'Hobbies') %></td>
          <td class="text-center"><%= sort_link(@q, :created_at, 'Created At') %></td>
          <td class="text-center"><%= sort_link(@q, :updated_at, 'Updated At') %></td>
          <td colspan=3 class="text-center"> Action </td>
        </thead>
        <% @employees.each do |e| %>
          <tr>
            <td class="text-center"> <%= e.id %> </td>
            <td class="text-center"> <%= link_to e.employee_name, employee_path(e) %> </td>
            <td class="text-center"> <%= e.hobbies %> </td>

            <td class="text-center"> <%= e.created_at.strftime("%d-%m-%Y") %> </td>
            <td class="text-center"> <%= e.updated_at.strftime("%d-%m-%Y") %> </td>

            <td class="text-center"><%= button_to "Show",employee_path(e),method: :get, class:"btn-success border-0 rounded-pill shadow px-3 py-2" %></td>
            <td class="text-center"><%= button_to "Edit",edit_employee_path(e),method: :get, class:"btn-primary border-0 rounded-pill shadow px-3 py-2" %></td>
            <td class="text-center"><%= button_to "Delete",employee_path(e),method: :delete, class:"btn-danger border-0 rounded-pill shadow px-3 py-2" %></td>
          </tr>
        <% end %>
      </ol>
    </table>
  </div>

  <div class="d-flex">
    <%= button_to "Add New Employee", new_employee_path, method: :get ,class:"btn-warning border-0 rounded-pill shadow p-3 m-3" %>
  </div>

  <div class="d-flex">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
   
</div>


