<!DOCTYPE html>
<html>
  <head>
    <title>Demo07</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "jquery" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.6.0.min.js' %>
  </head>

  <body>
    <div class="container mt-5">
      <%= yield %>
    </div>
    
  </body>
</html>
