<p style="color: green"><%= notice %></p>

<h1>Form helper</h1>

 <%= form_with url: "/search", method: :get do |form| %>
  <%= form.label :query, "Search for:" %>
  <%= form.text_field :query %>
  <%= form.submit "Search" %>
<% end %>

<%= link_to "Test", new_user_path, style: "font-size: 30px" %>

<hr style="margin-top: 20px">
<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user_path(user) %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>

